# Environment Variables
DATABASE_URL='postgres://9a302c6520db42224d05dab88dea8628caf94300ad0a1505bc4dd675748e8d43:sk_1-C0G5NlOh-ije5yRQGK4@db.prisma.io:5432/postgres?sslmode=require'

# Server
PORT=3001
NODE_ENV=development

# JWT
JWT_SECRET=sge-jwt-secret-change-in-production
JWT_EXPIRES_IN=24h

# Upload
UPLOAD_DIR=./uploads
MAX_FILE_SIZE=10485760
